@keyframes down {
    0% {
        transform: translate(-50%, -50%);
    }

    50% {
        transform: translate(-50%, -10px);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}

.down-scroll {
    position: absolute;
    bottom: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    animation: down 2s infinite;

    a {
        background-color: $clr-primary;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: 1rem;
        transition: 600ms;

        img {
            transform: rotate(90deg);
            filter: $clr-gray-filter;
        }

        &:hover {
            background-color: $clr-bg;
        }
    }

    @media (min-width: 640px) {
        bottom: 20%;
    }
}